{% extends 'parent-footer.twig.html' %}
{% block title %}Categorie{% endblock %}

{% block style %}
<style>
    header {
        background-color: rgb(110, 203, 243);
        color : #212529;
    }

    h1 {
        padding : 10px;
    }
</style>

{% endblock %} 

{% block header %}
 <h1>{{categorie.nom}}</h1>
{% endblock %} 


{% block contenu %}
<!-- <p>Liste des messages de la categorie {{categorie.nom}}</p> -->
{% for message in messages %}
    <div class="msg">
        <h2>{{ message.auteur }}</h2>
        <p>{{ message.date }}</p>
        {% if message.imageSrc %}
            <img src="{{ message.imageSrc }}" alt="Message Image de {{ message.auteur }}"> 
        {% endif %}
        <p>{{ message.texte }}</p>
        <div>
            <button type="button">commentaires</button>
            <p>{{ message.nbrCom }}</p>
            <button class="likeBtn" data-id="{{ message.IdMsg }}">Like <span>{{ message.nbrLike }}</span></button>
            <button class="dislikBtn" data-id="{{ message.IdMsg }}">Dislike <span>{{ message.nbrDislike }}</span></button>
        </div>
    </div>
{% endfor %}

<script>
    document.querySelectorAll('.likeBtn').forEach(button => {
        button.addEventListener('click', () => {
            const messageId = button.id;
            fetch(`../reaction`, {
                method: 'POST'
            })
            .then(reactions => reactions.json())
            .then(data => {
                button.querySelector('span').textContent = data.nbrLike;
            });
        });
    });

    document.querySelectorAll('.dislikeBtn').forEach(button => {
        button.addEventListener('click', () => {
            const messageId = button.id;
            fetch(`../reaction`, {
                method: 'POST'
            })
            .then(reactions => reactions.json())
            .then(data => {
                button.querySelector('span').textContent = data.nbrDislike;
            });
        });
    });
</script>



{% endblock %}