{% extends 'parent-footer.twig.html' %}
{% block title %}Publier{% endblock %}


{% block header %}
<h1>Publier un message</h1>
{% endblock %} 


{% block contenu %}
<from method="post" action="/publier">
    <label for="imageSrc">Image</label>
    <input type="text" id="imageSrc" name="imageSrc">
    <label for="idCat">Catégorie</label>
    <select name="idCat" id="idCat">
        <option value="">Choisir une catégorie</option>
        {% for categorie in categories %}
            <option value="{{ categorie.IdCat }}">{{ categorie.nom }}</option>
        {% endfor %}
    </select>
    <label for="texte">Texte</label>
    <textarea id="texte" name="texte" ></textarea>
    <input type="hidden" name="idUser" value="1"> <!-- mettre en valeur {{utilisateur.IdUser}} une fois qu'on a fait la fonction qui permet de vérifier qu'un user est connecté -->
    <button type="submit">Publier</button> 
</from>
{% endblock %}