{% extends 'parent-footer.twig.html' %}
{% block title %}Accueil{% endblock %}
{% block style %}
<style>
    /* ---------MOBILE-------- */
    h1 {
        font-size: 35px;
        margin-bottom: 15%;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        max-width: 75%;
        text-decoration: none;
    }

    button {
        font-size: 15px;
        margin-bottom: 10%;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(158, 213, 237);
    }

    /* ---------TABLETTE-------- */
    @media only screen and (min-width: 768px) {

        
        h1 {
            margin-bottom: 15%;
            font-size: 40px;
        }

        main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap : 10%;
        }

        a {
            width: 85%;
        }

        button {
            height : 60px;
            font-size: 20px;
        }
    }

    /* ---------ORDINATEUR-------- */

    @media only screen and (min-width: 1024px) {
        h1 {
            margin-bottom: 5%;
            font-size: 40px;
        }

        main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap : 1%;
        }

        a {
            width: 80%;
        }

        button {
            height : 70px;
            font-size: 20px;
        }
    }
    
</style>

{% endblock %}

{% block header %}
<h1>Accueil</h1>
{% endblock %}


{% block contenu %}
{% for categorie in categories %}
<a href="{{ categorie.nom }}">
    <button type="button">
        <h2>{{ categorie.nom }}</h2>
        <!-- <img src="{{ categorie.image }}" alt="{{ categorie.nom }}"> -->
    </button>
</a>

{% endfor %}
{% endblock %}