{% extends 'parent-footer.twig.html' %}
{% block title %}Accueil{% endblock %}


{% block header %}
    <h1>Page accueil</h1>
{% endblock %} 


{% block contenu %}
    <p>categories</p>
    {% for categorie in categories %}
        <a href="categorie/{{ categorie.IdCat }}"> 
            <button type="button">
                <h2>{{ categorie.nom }}</h2>
                <img src="{{ categorie.image }}" alt="{{ categorie.nom }}">
            </button>
        </a>
        
    {% endfor %}
{% endblock %}