{% extends 'parent-footer.twig.html' %}
{% block title %}Biographie{% endblock %}

{% block style %}
<style>
    /* --------MOBILE--------- */
    h1 {
        font-size: 35px;
        margin-bottom: 15%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    label {
        font-size: 15px;
        margin-bottom: 10px;
    }

    textarea {
        height: 250px;
        border-radius: 10px;
        resize: none;
        margin-bottom: 15%;
    }

    .buttons {
        display: flex;
        width: 80%;
        gap: 10%;
        margin: auto;
    }

    .buttons button {
        font-size: 17px;
        padding: 10px;
        width: 50%;
        margin: auto;
        border-radius: 8px;
        background-color: rgb(110, 203, 243);
    }

    .buttons a {
        width: 50%;

    }

    .buttons a button {
        width: 100%;
        background-color: rgb(201, 203, 204);

    }

    /* --------------TABLETTE------------ */
    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 40px;
            margin-bottom: 10%;
        }

        label {
            font-size: 25px;
            margin-bottom: 2%;
        }

        .buttons button {
            font-size: 25px;
        }
    }

    /* -------------ORDINATEUR------------- */
    @media only screen and (min-width: 1024px) {
        h1 {
            font-size: 45px;
            margin-bottom: 5%;
        }

        label {
            font-size: 25px;
            margin-bottom: 2%;
        }

        .buttons button {
            font-size: 25px;
        }

        textarea {
            margin-bottom : 5%;
        }
    }

</style>

{% endblock %}

{% block header %}
<h1>Modifier la biographie</h1>
{% endblock %}


{% block contenu %}

<form method="post" action="/SAE3012/biographie">
    <label for="biographie">Rédigez votre biographie : </label>
    <textarea id="biographie" name="biographie"></textarea>
    <div class="buttons">
        <button type="submit">Enregistrer</button>
        <a href="/SAE3012/parametre"><button type="button">Annuler</button></a>
    </div>
</form>

{% endblock %}