{% extends 'parent-footer.twig.html' %}
{% block title %}Publier{% endblock %}


{% block header %}
<h1>Publier un message</h1>
{% endblock %} 


{% block contenu %}
<form method="post" action="/SAE3012/publier" enctype="multipart/form-data" class="formPublier">
    <label for="imageSrc">Image</label>
    <input type="file" name="image" accept="image/*">
    <label for="idCat">Catégorie</label>
    <select name="idCat" id="idCat">
        <option value="">Choisir une catégorie</option>
        {% for categorie in categories %}
            <option value="{{ categorie.IdCat }}">{{ categorie.nom }}</option>
        {% endfor %}
    </select>
    <label for="texte">Texte</label>
    <textarea id="texte" name="texte" ></textarea>
    <input type="hidden" name="idUser" value="{{ utilisateur.IdUser }}">
    <button type="submit">Publier</button> 
</from>
{% endblock %}