{% extends 'parent-footer.twig.html' %}
{% block title %}Profil{% endblock %}

{% block style %}
<style>
    /* -----------MOBILE------------ */
    h1 {
        font-size: 35px;
        margin-bottom: 15%;
    }

    section {
        background-color: rgb(110, 203, 243);
        color: #212529;
        padding: 10px;
        border-radius: 10px;
    }

    h2 {
        font-size: 25px;
    }

    .pseudo {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin-bottom: 30px;
    }

    #param {
        max-width: 32px;
        border-radius: 15px;
    }

    .boutons {
        display: flex;
        justify-content: space-evenly;
        border-radius: 10px;
        padding: 7px;
    }

    button {
        border: none;
        background-color: rgb(110, 203, 243);
        font-size: 17px;
    }


    /* ---------TABLETTE-------- */

    @media only screen and (min-width: 768px) {

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
            margin-bottom: 5px;
        }

        #param {
            max-width: 37px;
            border-radius: 18px;
        }

        p {
            font-size: 20px;
            margin-bottom: 30px;
        }

        button {
            font-size: 25px;
        }
    }

    /* ---------ORDINATEUR-------- */
    @media only screen and (min-width: 1024px) {

        h1 {
            font-size: 45px;
            margin-bottom : 3%;
        }

        h2 {
            font-size: 40px;
        }

        section {
        background-color: rgb(110, 203, 243);
        color: #212529;
        padding: 10px;
        border-radius: 10px;
    }

        #param {
            max-width: 37px;
            border-radius: 18px;
        }

        button {
            font-size: 30px;
        }
    }
</style>
{% endblock %}

{% block header %}
<h1>Profil</h1>
{% endblock %}


{% block contenu %}
<section>
    <div class="pseudo">
        <h2>@{{utilisateur.identifiant}}</h2>
        <a href="/SAE3012/parametre">
            <img id="param" src="images/parametres.png" alt="parametre">
        </a>
    </div>
    <p>{{utilisateur.biographie}}</p>

    <div class="boutons">
        <button>Posts</button>
        <button>Likes</button>
        <button>Commentaires</button>
    </div>
</section>
{% for message in messages %}
<div class="msg">
    <h2>{{ message.categorieNom }}</h2>
    <form action="/SAE3012/profil" method="post">
        <input type="hidden" name="messageId" value="{{ message.IdMsg }}">
        <button type="submit"> <img src="#" alt="suppirmer message"></button>
    </form>

    <p>{{ message.date }}</p>
    {% if message.imageSrc %}
    <img src="{{ message.imageSrc }}" alt="Message Image de {{ message.auteur }}">
    {% endif %}
    <p>{{ message.texte }}</p>
    {{ message.nbrLike }} Likes - {{ message.nbrDislike }} Dislikes - {{ message.nbrCom }} Commentaires
</div>
{% endfor %}


{% endblock %}