{% extends 'parent-footer.twig.html' %}
{% block title %}Profil{% endblock %}

{% block style %}
<style>
    a {
        
    }
    p {
        margin-top: 20px;
        font-size: 18px;
    }

    button {
        width: 250px;
        padding: 10px;
        font-size: 16px;
        background: linear-gradient(rgb(110, 203, 243),rgb(7, 101, 142));
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button:hover {
        background: linear-gradient(rgb(49, 143, 183),rgb(10, 69, 95));
    }

    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .profil-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .profil{
        width: 75%;
        margin: auto;
    }

    .post-like-comment {
        display: flex;
        margin-top: 30px;
        width: 100%;
    }

    .post-like-comment button {
        flex: 1;
    }

</style>
{% endblock %} 

{% block header %}
    <h1>Profil</h1>
{% endblock %} 


{% block contenu %}
<div class="profil">
    <div class="profil-header">
        <h2>{{utilisateur.identifiant}}</h2>
        <a href="/SAE3012/parametre"><button>Paramètres<img src="./images/parametres.png" alt="parametre"></button></a>
    </div>
        
    <p>{{utilisateur.biographie}}</p>

    <div class="post-like-comment">

        <button>Post</button>

        <button>Like</button>

        <button>Commantaires</button>
    </div>

</div>
{% endblock %}