<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        {% block header %}
        {% endblock %} 
    </header>

    <main>
        {% block contenu %}
        {% endblock %}
    </main>
    
    <footer>
        <a href="#"><img src="" alt="acceuil"></a><a href="#"><img src="" alt="publier"></a><a href="profil"><img src="" alt="profil"></a>
    </footer>
</body>
</html>