<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="style/style.css">
    {% endblock %}
</head>
<body>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->

    <header>
        {% block header %}
        {% endblock %} 
    </header>

    <main>
        {% block contenu %}
        
        </b>ores doloribus quae hic! Atque fuga quo ipsum dolores magni amet voluptatibus esse itaque.
        {% endblock %}
    </main>
    
    <footer>
        <a href="http://localhost/SAE3012/"><img src="images/accueil.png" alt="accueil"></a>
        <a href="http://localhost/SAE3012/publier"><img src="images/poster.png" alt="publier"></a>
        <a href="http://localhost/SAE3012/profil"><img src="images/profil.png" alt="profil"></a>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> -->
</body>
</html>

