/* --------Téléphone/Par défaut------------ */
* {
    margin : 0;
    padding : 0;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #212529;
    color: white;
}

header {
    margin :10px;
    text-align : center;
}

main {
    height : 100%;
    margin : 10px;
}

footer{
    display:flex;
    position : sticky ;
    bottom : 0;
    justify-content: space-around;
    padding-bottom : 10px;
    padding-top : 10px;
    background-color : rgb(110, 203, 243);
}

footer img {
   max-width : 40px;
}

.formConnexion, .formInscription{
    display : flex;
    flex-direction: column;
}

.formConnexion h1, .formInscription h1 {
    text-align : center;
}

.formConnexion input, .formInscription input {
    padding-bottom : 15px;
}

/* -----------Tablette------------ */
@media only screen and (min-width : 769px) {

}


/* -----------Ordinateur------------ */
@media only screen and (min-width : 1024px) {

}

