/* --------Téléphone/Par défaut------------ */
* {
    margin : 0;
    padding : 0;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #212529;
    color: white;
}

header {
    margin :10px 10px 50px 10px;
    text-align : center;
}

main {
    height : 100%;
    margin : 10px;
}

footer{
    display:flex;
    position : sticky ;
    bottom : 0;
    justify-content: space-around;
    padding-bottom : 10px;
    padding-top : 10px;
    background-color : rgb(110, 203, 243);
}

footer img {
   max-width : 40px;
}

h1 {
    text-align : center;
}

/* connexion - inscription */

.formConnexion, .formInscription, .formPublier {
    display : flex;
    flex-direction: column;
}

form input, form select, form button, form textarea{
    margin: 15px 0 15px;
    border-radius: 8px;
    padding: 5px;
    background-color: #c4c4c4;
}

form textarea{
    min-width : 100%;
    max-width : 100%;
    min-height: 100px;
    max-height: 100px;
}

form label{
    margin-top: 10px;
}

/* Publier */
.formPublier{
    border: solid #646464;
    padding: 5px;
    border-radius: 8px;
}






/* -----------Tablette------------ */
@media only screen and (min-width : 769px) {

}


/* -----------Ordinateur------------ */
@media only screen and (min-width : 1024px) {

}

