/* --------Téléphone/Par défaut------------ */
footer {
    
}



/* -----------Tablette------------ */
@media only screen and (min-width : 769px) {

}


/* -----------Ordinateur------------ */
@media only screen and (min-width : 1024px) {

}

